<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 100%;">
        <img src="/images/{{hotel.id}}.jpeg" class="card-img-top" alt="..."/>
        <div class="card-body">
          <p class="hotel-title">{{hotel.name}}</p>
          <p class="hotel-address">{{hotel.address}}</p>
          <p class="hotel-description">{{hotel.description}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="row align-items-center mb-2">
        <a href="#" class="btn" style="background-color: rgb(246, 197, 173);">Write A Review</a>
        <p class="reviews"></p>
      </div>
      <textarea>Hello</textarea>
      {{#each reviews as |review|}}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">{{review.heading}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{review.text}}</th>
          </tr>
        </tbody>
      </table>
      {{/each}}
    </div>

  </div>
</div>