{{>header}}

{{!-- review page --}}
<main>
          
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 100%;">
                    <img src="/images/{{hotel.id}}.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="hotel-title"><strong>{{hotel.name}}</strong></p>
          <p class="hotel-address">{{hotel.address}}</p>
          <p class="hotel-description">{{hotel.description}}</p>
        </div>
        </div>
        </div>


        <div class="col-sm">
          {{#if userloggedin}}
            <div class="row align-items-center mb-2">
                <a class="btn p-2 bg-peach">Write A Review</a>
                <p class="reviews"></p>
            </div>
            <p>Review title</p>
            <input id ="review-heading" type="text" style="width:100%; height:auto"></input>
            <p class="mt-2">Write your review here</p>            
            <textarea id ="code" rows="2" cols="200" style="width:100%; height:auto"></textarea>

            <div >
                <button id="submit-review" data-id={{hotel.id}} type="submit" class="btn btn-outline-dark text-light m-1 bg-orange">Submit</button>
            </div>

            <p id="review-submit-message"></p>
            {{!-- ///////////////////////////////Reviews/////////////////////////////////////////// --}}
            
            {{/if}}
            {{#if review}}
            <h3>Reviews</h3>

              {{#each review as |review|}}
                <table class="table table-bordered">
                    <thead>
                        <tr class>
                        <th scope="col" class="bg bg-peach flex-box"><span>{{review.heading}}</span> <span> by {{review.firstname}} {{review.lastname}}</span></th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">{{review.review}}</th>
                        </tr>
                    </tbody>
                </table>
          {{/each}}
          {{else}}
          {{#if userloggedin}}
          <h3>Reviews</h3>

          <br>
          <br>
          <h6>Be the first to write the review for this hotel!.</h6>
          {{else}}
          <h3>Reviews</h3>
          <br>
          <br>
           <h6>Be the first to write the review for this hotel!. <a href="/signin"> Sign-in</a> or <a href="/signup"> Sign-up</a></h6>
           {{/if}}
          {{/if}}

    </div>
    
</main>

{{>footer}}